.form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xs);

  &__group {
    flex: 1;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  &__group:nth-child(odd) {
    // margin: 10px 0;
  }

  &__input {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: var(--space-xxs) var(--space-xs);
    border-radius: var(--botder-radius);
    outline: none;
    transition: box-shadow 250ms;
    // margin-bottom: 10px;

    &:focus {
      box-shadow: 0 0 0 2px var(--color-glint);
    }

    &--invalid {
      border-color: var(--color-primary);
    }
  }
}

.sign-up {
  display: inline-block;
  margin-top: 10px;
}
.session-form,
.registration-form {
  max-width: 50%;
  margin: 0 auto;
}